; example for sourcing another file
; [include]
;   path = /path/to/other/gitconfig

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[user]
    email = 98327570+sammy-kablammy@users.noreply.github.com
    name = sammy-kablammy
[core]
    editor = nvim
    # git likes to dump a bunch of garbage to stdout when exiting the pager for
    # commands like 'git log' and 'git show', i don't like this
	pager = less --LONG-PROMPT --ignore-case -+X # (the + re-enables the option)
[init]
    defaultBranch = main
[push]
    default = simple
[pull]
    rebase = false
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[merge]
    tool = nvimdiff
[commit]
    verbose = true
[url "https://github.com/"]
    insteadOf = gh:
[advice]
    ; detachedHead = false
[alias]
    alias = "!f() { git config --list | grep 'alias'; }; f"
    b = "branch -vv"
    ca = "commit --amend"
    co = "checkout"
    ds = "diff --stat"
    dt = "difftool --prompt"
    dts = "difftool --prompt --staged"
    f = "fetch"
    fq = "fetch --quiet"
    fs = "!f() { git fetch && git status --short --branch; }; f"
    fst = "!f() { git fetch && git status; }; f"
    grepall = "!f() { git grep -i \"$@\" $(git rev-list --all); }; f"
    l = "log --all --graph --decorate --oneline -7"
    la = "log --all --graph --decorate --oneline -9999"
    ls = "ls-files"
    mt = "mergetool"
    pullr = "pull --rebase=interactive"
    ref = "reflog --date=short"
    rl = "reflog"
    s = "status --short --branch"
    sh = "show -5 --pretty=oneline"
    sp = "stash pop"
    st = "status"
    unstage = "restore --staged"
    untrack = "rm --cached" # remove file from repo without deleting from filesystem
    w = "worktree list"
