*.swp
*.swo
nvim/.config/nvim/lazy-lock.json
nvim/lua/.luarc.json
awesome/.config/awesome/default/

scripts/.local/bin/*
# you'll just have to manually update this list with new scripts
!scripts/.local/bin/statusize
!scripts/.local/bin/zk
!scripts/.local/bin/nvimgrep
!scripts/.local/bin/sessionizer
!scripts/.local/bin/windowizer
